//Тут храниться наследование/расширение

//Добавление в проект через @extend%fonts;

@import "variables";


%header-logo {
  font-family: $font-logo;
  font-size: 24px;
  line-height: 24px;
  color: $text-color;
  text-decoration: none;

  .logo-text__tour {
    color: $primary;
  }
}


%footer-logo {
  font-family: $font-logo;
  font-size: 64px;
  line-height: 64px;
  color: $light;
  text-decoration: none;

  .logo-text__tour {
    color: $primary;
  }
}


%button {
  color: $light;
  border: none;
  cursor: pointer;
  background-color: $primary;

  &:hover {
    background: $focus-light;
    transition: 0.3s;
  }

  &:active {
    background: $text-color;

  }
}

%search-icon {
  width: 20px;
  height: 20px;
  fill: $light;
}

%stars {
  width: 10px;
  height: 10px;
  fill: chocolate;
}

%arrow-slider {
  width: 30px;
  height: 30px;
  fill: cornsilk;
}

%top-icon {
  width: 14px;
  height: 14px;
  fill: $light;
}

%footer-icon{
  width: 21px;
  height: 21px;
  fill: $footer-color;
  cursor: pointer;
  &:hover {
    fill: $light;
    transition: 0.3s;
  }
}

%offers{
  color: $light;
  padding: 3px 9px;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  background: $primary;
}

