//Подключение базовых настроек
@import "settings.scss";
//Наследование
@import "inherit";
//Переменные
@import "variables";

//Медиа запросы
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .hotel-grid__slide {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }

  .header {
    .header-top {
      padding: 30px 0 30px 0;
    }
  }

  .logo-text {
    font-size: 18px;
    line-height: 18px;
  }

  .nav {
    .nav-menu {
      padding: 22px 0 22px 0;

      .nav-menu__item {
        .nav-menu__link {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }

  .hotel-grid {
    flex-wrap: wrap;
  }

  .hotel-grid__slide {
    width: 100%;
  }

  .booking-map {
    width: 100%;
    margin-top: 30px;
    flex-direction: row;

  }

  .booking {
    width: 46%;
  }

  .reviews-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
  }

  .reviews-hotel {
    max-width: 80%;
  }


}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .nav, .search, .user {
    display: none;
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 16px;
    height: 11px;
    border: none;
    cursor: pointer;
    padding: 0;

    .menu-button__line {
      width: 16px;
      height: 1px;
      background: $text-color;
    }
  }


  .hotel {

    .hotel-info__text {
      width: 100%;
    }

    .hotel-wrapper {
      justify-content: space-between;
    }

    .stars {
      flex-basis: auto;
    }

    .hotel-name {
      flex-basis: 100%;
      margin-top: 10px;
    }

    .offer {
      order: -1;
    }

    .hotel-info__rating {
      display: none;
    }
  }

  .grand-hilton-hotel {
    height: 100%;
  }
  .hotel-grid__swiper-slide {
    height: auto;
  }


  .booking {
    width: 70%;
    padding: 20px;
    margin-right: 5%;
  }
  .map {
    width: 70%;
    height: 100%;

  }

  .newsletter-wrapper {
    width: 77%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .newsletter-title {
    margin-bottom: 40px;
  }

  .reviews-hotel {
    max-width: 60%;

    &:after, &:before {
      display: none;
    }
  }

  .reviews-users-text {
    padding: 0 20px;
  }

}

@media (max-width: 576px) {

  .logo-text {
    font-size: 14px;
  }

  .booking-map {
    flex-wrap: wrap;
  }

  .booking {
    width: 100%;
    padding: 20px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .map {
    width: 100%;
    height: 213px;

  }

  .newsletter-title__subscriber {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter-title__text {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }

  .subscriber {
    width: 95%;
  }
  .subscriber-label__input {
    width: 100%;
  }

  .subscriber-label__input {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }

  .subscriber-label__button {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .reviews-title {
    max-width: 92%;
    margin: auto;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
  }

  .reviews-hotel {
    max-width: 80%;
  }

  .reviews-button {
    top: 90px;

  }

  .button-slide-prev {
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: -65px;
  }

  .button-slide-next {
    right: 50%;
    transform: translate(50%, 0);
    margin-right: -65px;
  }





}
