@import "variables";

* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'Luckiest Guy', cursive;
  font-style: normal;
  font-weight: 400;
}

//Nunito
@font-face {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 800;
}

//Mulish
@font-face {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: 'Mulish', sans-serif;
  background: $secondary;
  color: $text-color;
}


.container {
  max-width: 1110px;
  margin: auto;
  border: 1px solid red;
}


img{
  max-width: 100%;
}

