//Тут хранятся переменные

//Добавление в проект: color:$set;
$font-logo: 'Luckiest Guy', cursive;
$nunito: 'Nunito', sans-serif;
$light: #ffffff;
$secondary: #f5fafe;
$footer-color: #BDBDBD;
$focus-light: lightcoral;
$primary: #EC1F46;
$text-color: #333333;
$dark: #0A223D;
$black: #000000;