//Тут хранятся переменные

//Добавление в проект: color:$set;

$primary: #EC1F46;
$text-color: #333333;
$font-logo: 'Luckiest Guy', cursive;
$mulish: 'Mulish', sans-serif;
$dark: #0A223D;
$light: #FFFF;

