@charset "UTF-8";
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}
body {
  font-family: "Mulish", sans-serif;
  background: #f5fafe;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
  border: 1px solid red;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.logo-text {
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}
.logo-text .logo-text__tour {
  color: #EC1F46;
}

.booking__button, .search .search-label .search-label__button {
  border: none;
  cursor: pointer;
  background-color: #EC1F46;
}
.booking__button:hover, .search .search-label .search-label__button:hover {
  background: lightcoral;
  transition: 0.3s;
}
.booking__button:active, .search .search-label .search-label__button:active {
  background: #333333;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}
body {
  font-family: "Mulish", sans-serif;
  background: #f5fafe;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
  border: 1px solid red;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.logo-text {
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}
.logo-text .logo-text__tour {
  color: #EC1F46;
}

.booking__button, .search .search-label .search-label__button {
  border: none;
  cursor: pointer;
  background-color: #EC1F46;
}
.booking__button:hover, .search .search-label .search-label__button:hover {
  background: lightcoral;
  transition: 0.3s;
}
.booking__button:active, .search .search-label .search-label__button:active {
  background: #333333;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}
body {
  font-family: "Mulish", sans-serif;
  background: #f5fafe;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
  border: 1px solid red;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.logo-text {
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}
.logo-text .logo-text__tour {
  color: #EC1F46;
}

.booking__button, .search .search-label .search-label__button {
  border: none;
  cursor: pointer;
  background-color: #EC1F46;
}
.booking__button:hover, .search .search-label .search-label__button:hover {
  background: lightcoral;
  transition: 0.3s;
}
.booking__button:active, .search .search-label .search-label__button:active {
  background: #333333;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .slide {
    width: 60%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }

  .header .header-top {
    padding: 30px 0 30px 0;
  }

  .logo-text {
    font-size: 18px;
    line-height: 18px;
  }

  .nav .nav-menu {
    padding: 22px 0 22px 0;
  }
  .nav .nav-menu .nav-menu__item .nav-menu__link {
    font-size: 12px;
    line-height: 15px;
  }

  .hotel-grid {
    flex-wrap: wrap;
  }

  .slide {
    width: 100%;
  }

  .booking-map {
    width: 100%;
    margin-top: 30px;
    flex-direction: row;
  }

  .booking {
    width: 46%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }

  .nav, .search, .user {
    display: none;
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 16px;
    height: 11px;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .menu-button .menu-button__line {
    width: 16px;
    height: 1px;
    background: #333333;
  }

  .hotel .hotel-info__text {
    width: 100%;
  }
  .hotel .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel .stars {
    flex-basis: auto;
  }
  .hotel .hotel-name {
    flex-basis: 100%;
    margin-top: 10px;
  }
  .hotel .offer {
    order: -1;
  }
  .hotel .hotel-info__rating {
    display: none;
  }

  .grand-hilton-hotel {
    height: 100%;
  }

  .swiper-slide {
    height: auto;
  }

  .booking {
    width: 100%;
    margin-bottom: 20px;
  }

  .map {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .logo-text {
    font-size: 14px;
  }
}
.header {
  background: #ffffff;
}
.header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 40px 0;
}

.search {
  flex-basis: 50%;
}
.search .search-label {
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}
.search .search-label .search-label__input {
  width: 250px;
  padding: 12px 10px 13px 23px;
  background: #f5fafe;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  outline: none;
}
.search .search-label .search-label__button {
  padding: 12px 25px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  /*
  width: 65px;
  height: 100%; ничего не изменилось
  top: 0;
  right: 0;
  */
}
.search .search-label .search-label__button .icon-search {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user .user__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.user .user__name {
  margin-left: 18px;
  color: #333333;
  font-size: 14px;
  line-height: 18px;
}

.header-top__menu-button {
  display: none;
}

.nav {
  background-color: #0A223D;
}
.nav .nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 31px 0 31px;
  margin: 0;
}
.nav .nav-menu .nav-menu__item {
  list-style: none;
}
.nav .nav-menu .nav-menu__item .nav-menu__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
}
.nav .nav-menu .nav-menu__item .nav-menu__link:after {
  content: "";
  display: block;
  height: 1px;
  background: #EC1F46;
  transition: 0.4s;
  width: 0;
}
.nav .nav-menu .nav-menu__item .nav-menu__link:hover:after {
  width: 100%;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}
body {
  font-family: "Mulish", sans-serif;
  background: #f5fafe;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
  border: 1px solid red;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.logo-text {
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}
.logo-text .logo-text__tour {
  color: #EC1F46;
}

.booking__button, .search .search-label .search-label__button {
  border: none;
  cursor: pointer;
  background-color: #EC1F46;
}
.booking__button:hover, .search .search-label .search-label__button:hover {
  background: lightcoral;
  transition: 0.3s;
}
.booking__button:active, .search .search-label .search-label__button:active {
  background: #333333;
}

.breadcrumb {
  background: #f5fafe;
}
.breadcrumb .breadcrumb-list {
  display: flex;
  margin: 0;
  padding: 18px 0;
  list-style: none;
}
.breadcrumb .breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}
.breadcrumb .breadcrumb-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
}
.breadcrumb .breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}
body {
  font-family: "Mulish", sans-serif;
  background: #f5fafe;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
  border: 1px solid red;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.logo-text {
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}
.logo-text .logo-text__tour {
  color: #EC1F46;
}

.booking__button, .search .search-label .search-label__button {
  border: none;
  cursor: pointer;
  background-color: #EC1F46;
}
.booking__button:hover, .search .search-label .search-label__button:hover {
  background: lightcoral;
  transition: 0.3s;
}
.booking__button:active, .search .search-label .search-label__button:active {
  background: #333333;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}
body {
  font-family: "Mulish", sans-serif;
  background: #f5fafe;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
  border: 1px solid red;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.logo-text {
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}
.logo-text .logo-text__tour {
  color: #EC1F46;
}

.booking__button, .search .search-label .search-label__button {
  border: none;
  cursor: pointer;
  background-color: #EC1F46;
}
.booking__button:hover, .search .search-label .search-label__button:hover {
  background: lightcoral;
  transition: 0.3s;
}
.booking__button:active, .search .search-label .search-label__button:active {
  background: #333333;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .slide {
    width: 60%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }

  .header .header-top {
    padding: 30px 0 30px 0;
  }

  .logo-text {
    font-size: 18px;
    line-height: 18px;
  }

  .nav .nav-menu {
    padding: 22px 0 22px 0;
  }
  .nav .nav-menu .nav-menu__item .nav-menu__link {
    font-size: 12px;
    line-height: 15px;
  }

  .hotel-grid {
    flex-wrap: wrap;
  }

  .slide {
    width: 100%;
  }

  .booking-map {
    width: 100%;
    margin-top: 30px;
    flex-direction: row;
  }

  .booking {
    width: 46%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }

  .nav, .search, .user {
    display: none;
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 16px;
    height: 11px;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .menu-button .menu-button__line {
    width: 16px;
    height: 1px;
    background: #333333;
  }

  .hotel .hotel-info__text {
    width: 100%;
  }
  .hotel .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel .stars {
    flex-basis: auto;
  }
  .hotel .hotel-name {
    flex-basis: 100%;
    margin-top: 10px;
  }
  .hotel .offer {
    order: -1;
  }
  .hotel .hotel-info__rating {
    display: none;
  }

  .grand-hilton-hotel {
    height: 100%;
  }

  .swiper-slide {
    height: auto;
  }

  .booking {
    width: 100%;
    margin-bottom: 20px;
  }

  .map {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .logo-text {
    font-size: 14px;
  }
}
.hotel {
  padding: 20px 0;
}
.hotel .hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.hotel .hotel-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hotel .stars {
  flex-basis: 100%;
}
.hotel .stars__icon {
  width: 10px;
  height: 10px;
  fill: chocolate;
}
.hotel .hotel-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  margin-top: 4px;
  flex-basis: 70%;
}
.hotel .offer {
  color: #ffffff;
  padding: 3px 9px;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  background: #EC1F46;
  border-radius: 3px;
}
.hotel .description {
  padding: 4px 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.hotel .rating {
  width: 65px;
  height: 45px;
  color: #ffffff;
  align-items: center;
  background: #EC1F46;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hotel .rating .rating__text {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}
.hotel .rating .rating__counter {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.hotel-grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.slide {
  width: 65.7%;
}

.swiper {
  width: 100%;
  margin: 0;
  position: relative;
}
.swiper:hover .slide-button {
  opacity: 1;
  transition: opacity 0.3s;
}

.swiper-slide {
  cursor: pointer;
}
.swiper-slide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 10;
  border-radius: 8px;
}

.grand-hilton-hotel {
  width: 728px;
  height: 450px;
  border-radius: 8px;
}

.slide-button {
  position: absolute;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 50%;
  background: transparent;
  z-index: 99;
  opacity: 0;
  color: #fff;
  transition: opacity 0.3s;
}

.slide-button--prev {
  left: 18px;
}

.slide-button__arrow-prev {
  width: 30px;
  height: 30px;
  fill: cornsilk;
}

.slide-button--next {
  right: 18px;
}

.slide-button__arrow-next {
  width: 30px;
  height: 30px;
  fill: cornsilk;
}

.booking-map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.booking {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  padding: 26px;
  background: #0A223D;
  border-radius: 8px;
}

.booking__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
}

.price__start {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.price__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.price__per-room {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.person-room {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.person-room__guest {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.human-icon {
  width: 14px;
  height: 14px;
  fill: #ffffff;
}

.guest-text {
  margin-left: 5px;
}

.person-room__room {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person-room__room .home-icon {
  width: 14px;
  height: 14px;
  fill: #ffffff;
}

.call-center {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 17px;
}

.call-center__number {
  text-decoration: none;
  color: #ffffff;
}

.telephone-icon {
  width: 14px;
  height: 14px;
  fill: #ffffff;
}

.booking__button {
  color: #ffffff;
  min-width: 100%;
  min-height: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border-radius: 4px;
}

.map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}
body {
  font-family: "Mulish", sans-serif;
  background: #f5fafe;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
  border: 1px solid red;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.logo-text {
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}
.logo-text .logo-text__tour {
  color: #EC1F46;
}

.search .search-label .search-label__button, .booking__button {
  border: none;
  cursor: pointer;
  background-color: #EC1F46;
}
.search .search-label .search-label__button:hover, .booking__button:hover {
  background: lightcoral;
  transition: 0.3s;
}
.search .search-label .search-label__button:active, .booking__button:active {
  background: #333333;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .slide {
    width: 60%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }

  .header .header-top {
    padding: 30px 0 30px 0;
  }

  .logo-text {
    font-size: 18px;
    line-height: 18px;
  }

  .nav .nav-menu {
    padding: 22px 0 22px 0;
  }
  .nav .nav-menu .nav-menu__item .nav-menu__link {
    font-size: 12px;
    line-height: 15px;
  }

  .hotel-grid {
    flex-wrap: wrap;
  }

  .slide {
    width: 100%;
  }

  .booking-map {
    width: 100%;
    margin-top: 30px;
    flex-direction: row;
  }

  .booking {
    width: 46%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }

  .nav, .search, .user {
    display: none;
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 16px;
    height: 11px;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .menu-button .menu-button__line {
    width: 16px;
    height: 1px;
    background: #333333;
  }

  .hotel .hotel-info__text {
    width: 100%;
  }
  .hotel .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel .stars {
    flex-basis: auto;
  }
  .hotel .hotel-name {
    flex-basis: 100%;
    margin-top: 10px;
  }
  .hotel .offer {
    order: -1;
  }
  .hotel .hotel-info__rating {
    display: none;
  }

  .grand-hilton-hotel {
    height: 100%;
  }

  .swiper-slide {
    height: auto;
  }

  .booking {
    width: 100%;
    margin-bottom: 20px;
  }

  .map {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .logo-text {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
