//Подключение базовых настроек
@import "../settings";
//Наследование
@import "../inherit";
//Переменные
@import "../variables";
//Медиа запросы
@import "../media";

.activities {
  padding: 70px 0;
}

.activities-title {
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: $black;
}


.activities-info{
  display: flex;
  justify-content: space-between;
}



.activities-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    background: linear-gradient(rgba(196, 196, 196, 0), rgba(10, 34, 61, 1));
    width: 100%;
    height: 60%;
    position: absolute;
    top: 40%;
    z-index: 2;
  }

}



.activities-cards__wrapper {
  position: absolute;
  bottom: 24px;
  left: 26px;
  max-width: 150px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.activities-cards__image {
  width: 255px;
  height: 255px;
  border-radius: 6px;
  object-fit: cover;
  background:
          linear-gradient(rgba(196, 196, 196, 0),
          rgba(10, 34, 61, 1));
}


.activities-cards__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $light;

}


.activities-cards__button {
  @extend %button;
  text-decoration: none;
  font-family: $nunito;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 7px 22px;
  border-radius: 4px;
  position: relative;
  top: 10px;
}


