//Подключение базовых настроек
@import "../settings";
//Наследование
@import "../inherit";
//Переменные
@import "../variables";
//Медиа запросы
@import "../media";

.hotel {
  padding-top: 20px;
}
  .hotel-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .hotel-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .stars {
   @extend %stars;
  }


  .hotel-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $text-color;
    margin-top: 4px;
    flex-basis: 70%;
  }


  .offer {
    color: $light;
    padding: 3px 9px;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    background: $primary;
    border-radius: 3px;
  }

  .description {
    padding: 4px 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }


  .rating {
    width: 65px;
    height: 45px;
    color: $light;
    align-items: center;
    background: $primary;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .rating__text {
      font-weight: 600;
      font-size: 8px;
      line-height: 10px;
    }

    .rating__counter {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }

  }


.hotel-grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.hotel-grid__slide {
  width: 65.7%;
}

.hotel-grid__swiper {
  width: 100%;
  margin: 0;
  position: relative;

  &:hover {
    .slide-button {
      opacity: 1;
      transition: opacity .3s;
    }
  }
}


.hotel-grid__swiper-slide {
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
    z-index: 10;
    border-radius: 8px;
  }
}


.grand-hilton-hotel {
  width: 728px;
  height: 450px;
  border-radius: 8px;
  object-fit: cover;
}


.slide-button {
  position: absolute;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 50%;
  background: transparent;
  z-index: 99;
  opacity: 0;
  color: #fff;
  transition: opacity .3s;
}


.slide-button--prev {
  left: 18px;
}

.slide-button__arrow-prev {
  width: 30px;
  height: 30px;
  fill: cornsilk;

}


.slide-button--next {
  right: 18px;
}

.slide-button__arrow-next {
  width: 30px;
  height: 30px;
  fill: cornsilk;

}

.booking-map{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.booking {
  color: $light;
  font-family: $nunito;
  padding: 26px;
  background: $dark;
  border-radius: 8px;
}

.booking__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
}


  .price__start {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }

  .price__pricetag {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
  }

  .price__per-room {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }



.person-room {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

  .person-room__guest {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .human-icon {
    width: 14px;
    height: 14px;
    fill: $light;
  }

  .guest-text {
    margin-left: 5px;
  }


  .person-room__room {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .home-icon {
      width: 14px;
      height: 14px;
      fill: $light;
    }

  }




.call-center {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 17px;

}

.call-center__number {
  text-decoration: none;
  color: $light;
}

.telephone-icon {
  width: 14px;
  height: 14px;
  fill: $light;
}



.booking__button {
  @extend %button;
  color: $light;
  min-width: 100%;
  min-height: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border-radius: 4px;
}

.map{
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

