//Подключение базовых настроек
@import "../settings";
//Наследование
@import "../inherit";
//Переменные
@import "../variables";
//Медиа запросы
@import "../media";

.newsletter {
  margin-top: 70px;
  border: 2px solid limegreen;
  padding: 98px 0;
  background-image: linear-gradient(to top, rgba(10, 34, 61, 0.8), rgba(10, 34, 61, 0.8)),
  url("../../../hotel-booking/img/newsletter-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.newsletter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.newsletter-title {
  color: $light;
}

.newsletter-title__subscriber {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.newsletter-title__text {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscriber-label {
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  height: 55px;
}

.subscriber-label__input {
  border: none;
  outline: none;
  padding: 15px;
  width: 285px;

}

.subscriber-label__button{
  @extend %button;
  padding: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

}

